DATABASE_URL=postgresql://user@localhost:5432/algolounge
BETTER_AUTH_SECRET=generate-with: openssl rand -hex 32
BETTER_AUTH_URL=http://localhost:3000

# redirect URI: {BETTER_AUTH_URL}/api/auth/callback/discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
